# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Build
dist/
.next/
out/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal
